<h1>ErgometriX</h1>

<p>Votre demande d'inscription a bien été enregistrée.</p>
<p>Notre équipe va rapidement valider votre bateau. Vous recevrez un mail d'ici quelques jours, confirmant votre inscription.</p>

